*{
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    color:ghostwhite;
  }

body {
    
}

h1 {
  margin-top: 0;
  background-color: #1b1b1b;
  color: #00ffff;
  font-size: 50px;
  width: 100%;
  padding: 20px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    
  }
  .AddMovie{
    margin-top: 50;
  }

  
  #nav {
    padding: 10px;
    background-color: #1b1b1b;
    text-align: center;
  }
  
  #nav a {
    font-weight: bold;
    background-color: #1b1b1b;
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    width: 100%;
  }

  .navbar a:hover {
    background: rgb(250, 5, 5);
    color: black;
  }
  
  #nav a.router-link-exact-active {
    color: #00ffff;
    background-color: #1b1b1b
  }